<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="io.yc.modules.sw.typeHandler.JSONObjectTypeHandler" 
        javaType="com.alibaba.fastjson.JSONObject" jdbcType="VARCHAR"/>
    </typeHandlers>
    
    <plugins>
       <plugin interceptor="com.github.pagehelper.PageHelper">  
           <property name="reasonable" value="false"/>   
           <property name="supportMethodsArguments" value="true"/>   
           <property name="returnPageInfo" value="check"/>   
           <property name="params" value="count=countSql"/>  
            
       </plugin>
       
    </plugins>  
</configuration>